{% extends 'base.html' %}

{% block content %}
<h1>Lista de Alunos</h1>
<hr>

<a href="{% url 'alunos:cadastrar' %}" class="btn btn-primary">➕ Novo Aluno</a>
<br><br>

{% if alunos %}
<table border="1" cellpadding="8">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Nascimento</th>
        <th>Ações</th>
    </tr>

    {% for aluno in alunos %}
    <tr>
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.email }}</td>
        <td>{{ aluno.data_nascimento }}</td>
        <td>
            <a href="{% url 'alunos:detalhes' aluno.id %}">🔍 Detalhes</a> |
            <a href="{% url 'alunos:editar' aluno.id %}">✏ Editar</a> |
            <a href="{% url 'alunos:excluir' aluno.id %}">❌ Excluir</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>Nenhum aluno cadastrado ainda.</p>
{% endif %}

{% endblock %}
