{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-lg p-4 border-0">
                <div class="card-body d-flex flex-column align-items-center">
                    <div class="text-center mb-4">
                        <h3 class="fw-bolder text-primary mb-0">🔑 Acesse o SIE</h3>
                    </div>
                    
                    <form method="POST" class="mt-4 w-100">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="id_username" class="form-label visually-hidden">Usuário</label>
                            <input type="text" name="username" class="form-control form-control-lg" id="id_username" placeholder="Nome de Usuário" required>
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    <div class="alert alert-danger mt-2">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                        <div class="mb-4">
                            <label for="id_password" class="form-label visually-hidden">Senha</label>
                            <input type="password" name="password" class="form-control form-control-lg" id="id_password" placeholder="Senha" required>
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <div class="alert alert-danger mt-2">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger mt-3">{{ error }}</div>
                            {% endfor %}
                        {% endif %}

                        <button type="submit" class="btn btn-primary btn-lg w-100 shadow-sm">
                            Entrar
                        </button>
                    </form>

                    <p class="mt-4 text-center small text-muted">
                        Não tem conta? <a href="{% url 'usuarios:registro' %}" class="fw-bold text-primary text-decoration-none">Clique aqui para registrar</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
