{% extends 'base.html' %}

{% block content %}
<h1>Lista de Aulas</h1>


<a href="{% url 'aulas:criar' %}" class="btn btn-primary">Adicionar Aula</a>

<table class="table mt-3">
    <tr>
        <th>Título</th>
        <th>Módulo</th>
        <th>Vídeo</th>
        <th>Ações</th>
    </tr>

    {% for aula in aulas %}
    <tr>
        <td>{{ aula.titulo }}</td>
        <td>{{ aula.curso.nome }}</td>
        <td>
            {% if aula.link_video %}
                <a href="{{ aula.link_video }}" target="_blank">Assistir</a>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'aulas:detalhes' aula.id %}" class="btn btn-info">Detalhes</a>
            <a href="{% url 'aulas:editar' aula.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'aulas:excluir' aula.id %}" class="btn btn-danger">Excluir</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
